/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define UTIL   1
#define SYMNUM   2

&sk {
    release-after-ms = <1500>;
    ignore-modifiers;
};

&sl {
    release-after-ms = <1500>;
};

&mt {
    tapping-term-ms = <300>;
};

/ {

&mt LSHIFT A

	keymap {
		compatible = "zmk,keymap";

		base_layer {
			bindings = <
				    &kp Q     &kp W          &kp F          &kp P           &kp B              &kp J     &kp L           &kp U          &kp Y          &kp BSPC
	    &kp ENTER 	&kp A     &mt LALT R     &mt LGUI S     &mt LCTRL T     &kp G              &kp M     &mt RCTRL N     &mt RGUI E     &mt RALT I     &kp O       &kp A 
				    &kp Z     &kp X          &kp C          &kp D           &kp V              &kp K     &kp H           &kp COMMA      &kp DOT        &kp MINUS
				                                               &sk LSHFT &sl UTIL              &sl SYMNUM &kp SPACE 
			>;
		};

        util_layer {
			bindings = <
				    &kp Q     &kp W     &kp F     &kp P     &kp B           &kp J     &kp L     &kp U     &kp Y     &kp BSPC
			&kp A 	&kp A     &kp R     &kp S     &kp T     &kp G           &kp M     &kp N     &kp E     &kp I     &kp O       &kp A 
				    &kp Z     &kp X     &kp C     &kp D     &kp V           &kp K     &kp H     &kp COMMA &kp DOT   &kp MINUS
				                                    &sk LSHFT &tog UTIL        &tog SYMNUM &kp SPACE 
			>;
		};

        symnum_layer {
			bindings = <
				    &kp Q     &kp W     &kp F     &kp P     &kp B           &kp J     &kp L     &kp U     &kp Y     &kp BSPC
			&kp A 	&kp A     &kp R     &kp S     &kp T     &kp G           &kp M     &kp N     &kp E     &kp I     &kp O       &kp A 
				    &kp Z     &kp X     &kp C     &kp D     &kp V           &kp K     &kp H     &kp COMMA &kp DOT   &kp MINUS
				                                    &sk LSHFT &mo 1        &mo 2 &kp SPACE 
			>;
		};

	};
};